/* modals */
/*  */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s, visibility 0.2s;
  /* transition: 0.1s ease ease-in-out; */
  /* border: 1px solid black; */
  border-radius: 10px;
  z-index: 1000;
  background-color: var(--minclr);
  color: var(--w);
  width: 800px;
  max-width: 75%;
  text-align: left;

  visibility: hidden;
  opacity: 0;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.modal-header {
  padding: 25px 25px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  /* border-bottom: 1px solid var(--borderclr); */
}

.title {
  /* font-size: 1.25rem; */
  font-weight: 500;
  color: var(--sekclr);
}

.text {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 300;
  color: var(--modaltext);
}

.sysText {
  font-size: 1.75rem;
  font-weight: 300;
}

.modal-header .title,
.close-button {
  font-size: 1.75rem;
}

.modal-header .close-button {
  color: var(--w);
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: 300;
}

.close-button:hover {
  /* color: var(--dimclr); */
  opacity: 0.5;
}

.modal-body {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  padding: 15px 25px 25px 25px;
  background-color: var(--minclr);
  border-radius: 8px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.modal-bodyi {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  padding-top: 10px;
}

#overlay {
  transition: opacity 0.2s, visibility 0.2s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  visibility: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

#overlay.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

#overlay1 {
  transition: opacity 0.2s, visibility 0.2s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  visibility: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

#overlay1.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal-btn-header {
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 7px;
  padding: 1rem 1.25rem;
  background-color: var(--hclr);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: var(--b);

  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
  background-color: var(--butClr); /* #58738a - #919191 */
}
.modal-btn-header:hover {
  background: var(--butClrHvr); /* #425A6F - #6E6E6E*/
  /* transform: scale(0.99); */
}
.modal-btn-header:active {
  /* background-color: #735d78; */
  transform: scale(0.98);
}

.modal-btn {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 1.25rem 1.5rem;
  /* background-color: var(--hclr); */
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: var(--b);

  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.modal-btn:hover {
  /* background-color: var(--buttonhover); */
  /* transform: scale(0.99); */
}

.modal-btn:active {
  /* background-color: #735d78; */
  transform: scale(0.98);
}

.modal-spc {
  margin: 0.5rem 0;
  margin-top: 2rem;
}

#input4 {
  width: 96%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--minclr);
  border: 1px solid var(--borderclr);
  border-radius: 10px;
  color: var(--w);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 1rem;
  resize: none;

  transition: 0.1s ease;
}

#input4:focus {
  background-color: var(--focusclr);
}

#input4::placeholder {
  color: var(--inputplaceholder);
}

.input3 {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--minclr);
  border: 1px solid var(--borderclr);
  border-radius: 10px;
  color: var(--w);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 1.25rem;
  resize: none;
  transition: 0.1s ease;
}

.input3:focus {
  /* background-color: var(--focusclr); */
  border: 1px solid var(--butClr);
}

.input3::placeholder {
  color: var(--inputplaceholder);
}

.input5 {
  width: 89%; /* 75% */

  float: left;
  /* display: inline-block; */

  height: 100%;
  border: none;
  outline: none;
  background-color: var(--minclr);
  border: 1px solid var(--borderclr);
  border-radius: 10px;
  color: var(--w);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 1.25rem;
  resize: none;
  transition: 0.1s ease;
}

.input5:focus {
  /* background-color: var(--focusclr); */
  border: 1px solid var(--butClr);
}

.input5::placeholder {
  color: var(--inputplaceholder);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  caret-color: var(--sekclr);
  border: 1px solid var(--butClr);
  -webkit-text-fill-color: var(--hclr);
  transition: background-color 5000s ease-in-out 0s;
}
